.equipment-btn{
    background: #318375;
    color: white;
    height: 30px;
    border-radius: 3px;
    width: 65px;
}
.add{
    margin-left: 10px;
}
.search{
    margin-left: 10px;
    margin-top: -5px;
}
table thead, table tr {
     border-top-style: none;
     border-top-color: inherit;
}
table tr:nth-child(even):hover {
     background: inherit;
}
tbody tr:nth-child(even){
    background: #f7f7f7;
}
table tr:nth-child(odd):hover {
     background: inherit;
}
.table-striped>tbody>tr:nth-of-type(odd) {
     background-color: white;
}
table td, table th {
    color:#666;
}
.bootstrap-table .table>thead>tr>th {
    border-bottom: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
}
.fixed-table-container thead th {
    border-left: none;
}
.bootstrap-table .table {
     border-bottom: none;
}
.fixed-table-container tbody td {
     border-left: none;
}
.fixed-table-container {
    border: none;
}
table thead{
    background: #f7f7f7;
}
#equipmentAdd .jsglyph-chevron-up{
    display: none;
}
#equipmentAdd .jsglyph-minimize{
    display: none;
}
#equipmentAdd .jsglyph-maximize{
    display: none;
}
#k .jsPanel-headerbar{
    display: none;
}
.terminalNub {
	padding: 12px 0;
	width: auto;
	height: auto;
	border: solid #ccc 1px;
	position: relative;
	margin-bottom: 15px;
	border-radius: 12px;
}
.terminalNub .title {
	width: 100px;
	height: 25px;
	position: absolute;
	top: -12px;
	left: 30px;
	background-color: #ffffff;
	line-height: 25px;
	text-align: center;
}
.group-range{
	margin:6px 0
}
.btn-opre-l{
	margin-right: 15px;
	background: none;
	outline: none;
	color: #308374;
}
.btn-opre-r{
	margin-right: 15px;
	background: none;
	outline: none;
	color: red;
}







