/* 头部端子状态样式  */
.commentuse {
	width: 20px;
	height: 20px;
	display: inline-block;
}

.head-zy {
	background: red;
	border-radius: 50%;
}

.head-by {
	background: #059929;
	border-radius: 50%;
}

.head-gz {
	background: url("../../images/malfunction.png");
}

.head-k {
	border-radius: 50%;
	border: 1px solid #64a3e6;
}

.head-fc {
	background: url("../../images/safekeeping.png");
}

.light-head-l {
	float: left;
	margin-left: 6px;
}

.light-head-r {
	float: right;
}

.light-head-r p {
    margin: 0 3px;
    float: right;
    line-height: 30px;
}

.light-statu {
	float: right;
    height: 30px;
    margin: 6px;
}

.light-statu:hover {
	cursor: pointer;
}

.light-statu-sel {
	border: 1px solid #64a3e6;
	border-radius: 30%;
}
/** 光交图内容状态样式 */
.gjt-span {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #64a3e6;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	line-height: 1.5;
	font-size: 12px;
	background: none;
}

.zy-span {
	border: none;
	background-color: red;
	padding: 1px 0;
	color: black;
}

.by-span {
	border: none;
	background-color: #059929;
}

.gz-span {
	border: none;
	background: url("../../images/malfunction.png");
}

.fc-span {
	border: none;
	background: url("../../images/safekeeping.png");
}

.k-span {
	background-color: none;
}

/* 头部按钮样式  */
.gj-btn {
	border-radius: 3px; 
	margin-right:10px;
	height: 30px;
    background: #318375;
    color: white;
}

/* 光交图table样式 */
#gj-table tbody td{
	line-height: 34px;
	text-align: center;
    vertical-align: top;
}

#gj-table input[type=radio] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.width-1{
	width:5%;
}

.width-2{
	width:6%;
}

.width-3{
	width:16%;
}
