<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>安庆项目</title>
    
    
  <link type="text/css" rel="stylesheet" href="/lib/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap/3.3.0/css/bootstrap-theme.min.css"/>
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap/3.3.0/css/bootstrap-datetimepicker.min.css"/>
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap/3.3.0/css/bootstrap-table.min.css"/>
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap/3.3.0/css/bootstrap-select.css"/>
    <link rel="stylesheet"  type="text/css" href="/lib/openlayer/3.20.1/ol.css"/>
    <link rel="stylesheet"  type="text/css" href="/lib/openlayer/ext/ol3-ext.min.css"/>
    <link rel="stylesheet" type="text/css" href="/iconfont/iconfont.css" />
    <link type="text/css" rel="stylesheet" href="/lib/sweetalert/sweetalert.css" />
    <link rel="stylesheet" type="text/css" href="/lib/jstree/themes/default/style.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/jsPanel/3.8.0/jquery.jspanel.css" />
    <link rel="stylesheet" type="text/css" href="/css/power/index.css" />
</head>
<script type="text/javascript" src="/lib/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="/lib/sweetalert/sweetalert.min.js"></script>
<script type="text/javascript" src="/lib/jsPanel/3.8.0/jquery.jspanel.min.js"></script>
<script type="text/javascript" src="/lib/openlayer/3.20.1/ol-debug.js"></script>
<script type="text/javascript" src="/lib/openlayer/ext/ol3-ext.min.js"></script>
<script type="text/javascript" src="/lib/mloading/jquery.mloading.js"></script>
<script type="text/javascript" src="/lib/contextmenu/contextmenu.js"></script>
<script  type="text/javascript" src="/iconfont/iconfont.js"></script>
<script type="text/javascript" src="/lib/jstree/jstree.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/datetimepicker/bootstrap-datetimepicker.js" charset="utf-8"></script>
<script type="text/javascript" src="/lib/bootstrap/datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="utf-8"></script>
<script type="text/javascript" src="/lib/bootstrap/3.3.0/js/bootstrap-select.js"></script>
<script type="text/javascript" src="/lib/bootstrap/table/bootstrap-table.js"></script>
<script type="text/javascript" src="/lib/bootstrap/3.3.0/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="/js/power/default.js"></script>
<script type="text/javascript" src="/js/power/index.js"></script>
<body>
<header >
    <!--头部开始-->
    <nav class="navbar navbar-fixed-top  col-xs-12" id="header">
        <div class="navbar-header">
            <a href="#" ><img src="/images/home-page-pandect/logo2_03.png" alt=""></a>
        </div>
            <ul class="nav navbar-nav">
                <li><a href="#"style="background: transparent;padding: 0px;margin: 4px 10px;"><img src="/images/home-page-pandect/logo2_05.png" alt=""></a></li>
                <li class="nav-word" style="color: white">国网安庆GIS配电通信接入网管理平台</li>
            </ul>
            <ul class="nav navbar-nav navbar-right header-right">
                <li>欢迎您，[admin]</li>
                <li >
                    <div class="dropdown">
                    <input class="dropdown-toggle" value="安庆项目" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="caret" data-toggle="dropdown"></span>
                    <ul class="dropdown-menu dropdownMenu" aria-labelledby="dropdownMenu1">
                        <li><a href="/power/index.action">安庆项目</a></li>
                        <li><a href="/sys/index.action">基础平台</a></li>
                    </ul>
                </div>
                </li>
                <li><i class="glyphicon glyphicon-off"></i>退出</li>
            </ul>
    </nav>
</header>
<!--头部结束-->
<section  style="height:100vh">
    <!--左边导航栏开始-->
    <div class="left_nav" id="left_nav1"></div>
    <!--左侧导航栏结束-->
    <!--左侧折叠导航栏开始-->
     <div class="nav1" id="left_nav2"></div>
    <div class="content-top" style="overflow: hidden;" id="content-top">
        <div style="margin-left: 10px;">
            <span class=" iconfont icon-sanhengxian1  hamburger"  ></span>
            <span class="iconfont icon-sanhengxian  hamburgerimg"  style=";display: none;"></span>
            <span class="font1" style="margin-left: 20px;">首页</span> <span>/</span>
            <span class="font1 gettext">首页</span>
        </div>
    </div>

    <!--量算模态-->
    <div class="modal" data-backdrop="static" id="measureBtn" >
        <div class="modal-sm" style="width: 250px;">
            <div class="modal-content" style="padding-top: 0px">
                <div class="modal-header" style="background: #005a52;padding:1px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;line-height:normal"><span aria-hidden="true">&times;</span></button>
                    <h4 style="padding-left: 10px;color: white;font-size: 14px;">量算</h4>
                </div>
                <div class="modal-body">
                 <span href="javascript:" class="btn btn-inverse" title="测距" onclick="measureOnMap('length')" >
                       <span class="iconfont icon-cejuli"></span>
                    </span>
                    <span href="javascript:;" class="btn btn-inverse" title="测面" onclick="measureOnMap('area')">
                       <span class="iconfont icon-mianji"></span>
                </span>
                    <span href="javascript:;" class="btn btn-inverse" title="清理"  onclick="clearMeasure()">
                      <span class="iconfont icon-clear"></span>
                    </span>
                    <div style="margin: 10px 10px 0 10px;height: 20px;">
                       <div id="measureName" class="clearfix" style="float: left;margin-right: 20px;">测量</div>
                       <p id="measuretext" style="color:#333;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--图层管理模态-->
    <div class="modal" data-backdrop="static" id="layerMangerBtn">
        <div class="modal-sm">
            <div class="modal-content" style="padding-top: 0px">
                <div class="modal-header" style="background: #005a52;padding:1px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;line-height:normal"><span aria-hidden="true">&times;</span></button>
                    <h4 style="padding-left: 10px;color: white;font-size: 14px;">图层管理</h4>
                </div>
                <div class="modal-body">
                    <div id="powerLayerTree"></div>
                </div>
            </div>
        </div>
    </div>

    <!--书签管理模态-->
    <div class="modal" id="bookmark"  data-backdrop="static" >
        <div class="modal-sm">
            <div class="modal-content" style="padding-top: 0px">
                <div class="modal-header" style="background: #005a52;padding:1px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"><span aria-hidden="true">&times;</span></button>
                    <h4 style="padding-left: 10px;color: white;font-size: 14px;">书签管理</h4>
                </div>
                <div class="modal-body">
                    <div id="tableContainer">
                        <tr><th>名称</th></tr>
                        <table style="border-collapse: collapse" id="tb">
                            <tr class="cloneTr">
                                <td> </td>
                            </tr>
                            <tr>
                                <td>湖北</td><td><button>定位</button></td>
                            </tr>
                            <tr>
                                <td>武汉</td><td><button>定位</button></td>
                            </tr>
                            <tr>
                                <td>长沙</td><td><button>定位</button></td>
                            </tr>
                        </table>
                    </div>
                    <div id="clickTips">
                        <span id="addUp" class="glyphicon glyphicon-plus">添加</span>
                        <span id="edit" class="glyphicon glyphicon-edit">修改</span>
                       <!-- <span >向下增加一行</span>-->
                        <span id="delete" class="glyphicon glyphicon-trash">删除</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--查询管理模态-->
    <div class="modal" data-backdrop="static" id="search" >
        <div class="modal-sm" style="width: 250px;">
            <div class="modal-content" style="padding-top: 0px">
                <div class="modal-header" style="background: #005a52;padding:1px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;"><span aria-hidden="true">&times;</span></button>
                    <h4 style="padding-left: 10px;color: white;font-size: 14px;">查询管理</h4>
                </div>
                <div class="modal-body">
                    <div >
                    <span href="javascript:;" class="btn btn-inverse" title="单选查询" onclick="radioQuery()"  >
                        <span class="iconfont icon-iconfontoptionbutton"></span>
                    </span>
                        <span href="javascript:;" class="btn btn-inverse" title="框选查询" onclick="boxQuery()">
                       <span class="iconfont icon-region"></span>
                    </span>
                        <span href="javascript:;" class="btn btn-inverse" title="多边形查询"  onclick="polygonQuery()">
                       <span class="iconfont icon-duobianxing"></span>
                    </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--定位模态框 -->
	<div class="modal" data-backdrop="static" id="position">
		<div class="modal-sm">
			<div class="modal-content" style="padding-top: 0px">
				<div class="modal-header" style="background: #005a52; padding: 1px;">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 style="padding-left: 10px; color: white; font-size: 14px;">定位</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal switchDu" id="duFrom">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">经度：</label>
							<div class="col-sm-7">
								<input id="lon" name="lon" type="text" class="form-control">
							</div>
							<span style="display: inline-block; margin-top: 5px;">度</span>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-3 control-label">纬度：</label>
							<div class="col-sm-7">
								<input id="lat" name="lat" type="text" class="form-control">
							</div>
							<span style="display: inline-block; margin-top: 5px;">度</span>
						</div>
						<div class="text-center">
							<button class="btn" type="button" style="background: #1b726a; color: white" id="accuratePositioning">切换</button>
							<button class="btn" type="button" style="background: #1b726a; color: white" onClick="duFix()">定位</button>
						</div>
					</form>
					<div class="switch" style="display: none">
						<form class="form-inline" id="lonDFMFrom">
							<div class="form-group">
								<label for="exampleInputName2">经度：</label> 
								<input id="lonD" name="lonD" type="text" class="form-control" style="width: 50px;"> 
								<span>度</span>
							</div>
							<div class="form-group">
								<input id="lonF" name="lonF" type="email" class="form-control" style="width: 50px;"> 
								<span>分</span>
							</div>
							<div class="form-group">
								<input id="lonM" name="lonM" type="email" class="form-control" style="width: 50px;"> 
								<span>秒</span>
							</div>
						</form>
						<form class="form-inline" style="margin-top: 20px;"
							id="LatDFMFrom">
							<div class="form-group">
								<label for="exampleInputName2">纬度：</label> 
								<input id="latD" name="latD" type="text" class="form-control" style="width: 50px;"> 
								<span>度</span>
							</div>
							<div class="form-group">
								<input id="latF" name="latF" type="email" class="form-control" style="width: 50px;"> 
								<span>分</span>
							</div>
							<div class="form-group">
								<input id="latM" name="latM" type="email" class="form-control" style="width: 50px;"> 
								<span>秒</span>
							</div>
						</form>
						<div class="text-center" style="margin-top: 15px;">
							<button class="btn" type="button" style="background: #1b726a; color: white" id="secondPositioning">切换</button>
							<button class="btn" type="button" style="background: #1b726a; color: white" onClick="dFMFix()">定位</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!--右侧中间内容开始-->
    <div id="right-sidebar">
        <div id="openlayersID" ></div>
        <div class="btn-group-vertical toolbar" role="group">
            <button type="button" class="btn btn-inverse" title="放大" onClick="zoomInMap()"><span class="iconfont icon-tianjia"></span></button>
            <button type="button" class="btn btn-inverse" title="缩小" onClick="zoomOutMap()"><span class="iconfont icon-suoxiaochuangkou"></span></button>
            <button type="button" class="btn btn-inverse" title="框选放大" onClick="right_click_box(1)" ><span><img src="/images/box-amplification.png" alt=""></span></button>
            <button type="button" class="btn btn-inverse" title="框选缩小" onClick="right_click_box(-1)" ><span><img src="/images/box-narrow-down.png" alt=""></span></button>
            <button type="button" class="btn btn-inverse" title="全幅" onClick="fullView()" ><span class="iconfont icon-quantu"></span></button>
            <button type="button" class="btn btn-inverse" title="图层管理" data-toggle="modal" data-target="#layerMangerBtn"><span class="iconfont icon-tuceng"></span></button>
            <button type="button" class="btn btn-inverse" title="书签" data-toggle="modal" data-target="#bookmark"><span class="iconfont icon-shuqian"></span></button>
            <button type="button" class="btn btn-inverse" title="测量" data-toggle="modal" data-target="#measureBtn"><span class="iconfont icon-celiang"></span></button>
            <button type="button" class="btn btn-inverse" title="查找" data-toggle="modal" data-target="#search"><span class="iconfont icon-chazhao"></span></button>
            <button type="button" class="btn btn-inverse" title="定位"  data-toggle="modal" data-target="#position"><span class="iconfont icon-dingwei"></span></button>
        </div>
    </div>
</section>


</body>
</html>
