<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/lib/easyui/1.4.5/themes/default/easyui.css" />
    <title>安庆电网</title>
       <link type="text/css" rel="stylesheet" href="/lib/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap/3.3.0/css/bootstrap-theme.min.css"/>
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap/3.3.0/css/bootstrap-datetimepicker.min.css"/>
    <!--Openlayers 官方样式-->
    <link rel="stylesheet"  type="text/css" href="/lib/openlayer/css/ol.css"/>
    <link rel="stylesheet" type="text/css" href="/iconfont/iconfont.css" />
    <link type="text/css" rel="stylesheet" href="/lib/sweetalert/sweetalert.css" />
    <link rel="stylesheet" type="text/css" href="/lib/jstree/themes/default/style.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/index/index.css" />
    
    
    
    <script type="text/javascript" src="/lib/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/easyui/1.4.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/lib/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="/lib/easyui/1.4.5/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/lib/openlayer/ol.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/3.3.0/js/bootstrap-treeview.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrapMenu/BootstrapMenu.min.js"></script>
    <script type="text/javascript" src="/lib/jstree/jstree.min.js"></script>
    <script src="/js/index/index.js" type="text/javascript"></script>
    <style type="text/css">
        html,body  {
            height: 100%;
            width: 100%;
        }
        * {
            margin: 0;
            padding: 0;
            border: 0;
        }
    </style>
</head>
<body>
<div id="openlayersID" style="height:97%;">
</div>
<div id="navigate-container">
        <input type="button" onClick="zoomIn();" value="放大" />
        <input type="button" onClick="zoomOut();" value="缩小" />
        <input type="button" onClick="moveToLeft();" value="左移" />
        <input type="button" onClick="moveToRight();" value="右移" />
        <input type="button" onClick="moveToUp();" value="上移" />
        <input type="button" onClick="moveToDown();" value="下移" />
        <!-- <input type="button" onClick="moveToChengDu();" value="移到成都" /> -->
         <div id="nodelist" style="height:300px;width:900px;">
        <em>Click on the map to get feature info</em>
         </div>
    </div>
<!--工具栏-->
<div class="btn-toolbar" role="toolbar" style="position: absolute;left: 0;top: 0;">
    <div id="toolbar" class="btn-group">
        <a  data-toggle="dropdown" class="btn btn-inverse " aria-expanded="false" id="layerMangerBtn" title="图层管理" style="border-radius: 4px 0 0 4px;">
            <span class="iconfont icon-tucengmuluguanli" style="font-size: 25px;display: inline-block;margin-top: -6px;"></span>
        </a>
        <!--图层管理下拉栏-->
        <div class="dropdown-menu " aria-labelledby="layerMangerBtn"  >
            <div data-stopPropagation="true" class="dropDown-container" style="min-height:300px;" >
                <div id="powerLayerTree" >
                    <!--这里加树形菜单子数据-->
                    <!-- <div class="checkimg">
                        <img src="/images/check.png" alt="" class="check" onclick="check()" style="display: none;margin-top: -2px;width: 22px;">
                        <img src="/images/uncheck.png" alt="" onclick="uncheck()" class="uncheck" >
                        <span  style="color: white;margin-top: 5px;">图层列表</span>
                    </div> -->

                </div>
            </div>

        </div>

        <a class="btn btn-inverse" style="padding: 12px 1px;">
            <span style="border-left: 1px solid #dddddd"></span>
        </a>
        <a class="btn btn-inverse" title="展开" id="expandBtn" style="display: none;border-radius: 0 4px 4px 0;">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <div class="btn-group" id="btnGroup" style="display: block">
        
           
            <a class="btn btn-inverse" title="添加图层" data-toggle="modal" data-target="#addLayerBtn" >
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <!-- <a class="btn btn-inverse" title="列表属性" data-toggle="modal" data-target="#attributeBtn" >
                <span class="glyphicon glyphicon-tasks"></span>
            </a> -->
            
            <span>
            <a class="btn btn-inverse" title="书签管理" id="bookMaker" onclick="showAndHide('bookMakerSelect')" style="border-radius:0px;">
                <span class="iconfont icon-shuqiantubiao" style=""></span>
            </a>
            <!--书签下拉框-->
            <div class="dropdown-menu book" aria-labelledby="bookMaker" id="bookMakerSelect" style="display: none;">
                <div class="bookMaker">
                    <div id="bookMakerTree"></div>
                </div>
            </div>
            </span>
            <span>
                    <a class="btn btn-inverse" data-toggle="dropdown" title="底图设置" id="baseLayerBtn" style="border-radius: 0">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </a>
                <!--底图设置下拉栏-->
                    <div class="dropdown-menu base" aria-labelledby="baseLayerBtn" >
                        <div data-stopPropagation="true" class="base-container" style="height: 160px;">
                            <div class="row base-row" id="baserow" >
                            <div class="col-sm-3 ">
                                    <a href="#" class="thumbnail baseLayer" >
                                        <span class="glyphicon glyphicon-ok" id="liGroup1"></span>
                                        <img src="/images/Image.png" alt="...">
                                    </a>
                                    <p  style="text-align: center;color: #333">默认地图</p>
                                </div>
                                <div class="col-sm-3 ">
                                    <a href="#" class="thumbnail baseLayer">
                                        <span class="glyphicon glyphicon-ok" id="liGroup2"></span>
                                        <img src="/images/tianditu.png" alt="...">
                                    </a>
                                    <p  style="text-align: center;color: #333">天地图</p>
                                </div>
                                <div class="col-sm-3 ">
                                    <a href="#" class="thumbnail baseLayer">
                                        <span class="glyphicon glyphicon-ok" id="liGroup3"></span>
                                        <img src="/images/gaode.png" alt="...">
                                    </a>
                                    <p  style="text-align: center;color: #333">高德地图</p>
                                </div>
                                <div class="col-sm-3 ">
                                    <a href="#" class="thumbnail baseLayer">
                                        <span class="glyphicon glyphicon-ok" id="liGroup4"></span>
                                        <img src="/images/google.png" alt="...">
                                    </a>
                                    <p  style="text-align: center;color: #333">谷歌地图</p>
                                </div>
                        </div>
                            <!-- <div class="checkimg">
                                <span> <img src="/images/choose.png" alt="" class="basecheck"onclick="check()" style="display: none;">
                                <img src="/images/no-choose.png" alt="" class="unbasecheck" onclick="uncheck()"></span>
                              <span style="color: white;margin-top: 5px;">STK在线地形</span>
                            </div> -->

                        </div>
                    </div>
                </span>
        <span>
                    <a class="btn btn-inverse" data-toggle="dropdown" title="列表属性" id="attributeBtn" style="border-radius: 0">
                        <span class="glyphicon glyphicon-tasks"></span>
                    </a>
             <div class="dropdown-menu measure " aria-labelledby="attributeBtn" tabindex="-1" >
                <div  class="attributeBtn">
                    <span href="javascript:;" class="btn btn-inverse" title="单选查询" onclick="radioQuery()" >  
                        <span class="">单选查询</span>           
                    </span>
                    <span href="javascript:;" class="btn btn-inverse" title="框选查询" onclick="boxQuery()">
                        <span class="">框选查询</span>
                    </span>
                    <span href="javascript:;" class="btn btn-inverse" title="多边形查询"  onclick="polygonQuery()">
                        <span class="">多边形查询</span>
                    </span>
                    <span href="javascript:;" class="btn btn-inverse" title="组合查询"  onclick="polygonQuery()">
                        <span class="">组合查询</span>
                    </span>
                </div>
            </div>
       </span>
            <a class="btn btn-inverse" data-toggle="dropdown" title="量算" id="measureBtn">
                <span class="iconfont icon-celiang"></span>
            </a>
            <!--量算下拉框-->
            <div class="dropdown-menu measure " aria-labelledby="measureBtn" tabindex="-1" >
                <div data-stopPropagation="true" class="measureBtn">
                    <span href="javascript:;" class="btn btn-inverse" title="测距" onclick="addInteraction('length')" >  
                        <span class="iconfont icon-cejuli"></span>           
                    </span>
                    <span href="javascript:;" class="btn btn-inverse" title="测面" onclick="addInteraction('area')">
                        <span class="iconfont icon-mianji"></span>
                    </span>
                    <span href="javascript:;" class="btn btn-inverse" title="关闭"  onclick="clearMeasure()">
                        <span class="iconfont icon-guanbi"></span>
                    </span>
                    <div id="measureName" class="clearfix">测量</div>
                    <p id="measuretext" style="color:#333;margin-left: 10px;"></p>
                </div>
            </div>
         <span>
          <a class="btn btn-inverse" data-toggle="dropdown" title="框选放大" style="border-radius: 0" onclick='right_click_box()'>
               <span class="iconfont icon-xuankuang"></span>
           </a>
         </span>
         <span>
          <a class="btn btn-inverse" data-toggle="dropdown" title="全幅" style="border-radius: 0" onclick='fullView()'>
               <span class="iconfont icon-quanfuxianshi"></span>
           </a>
         </span>
            <a class="btn btn-inverse" title="收起" id="foldBtn">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
    </div>
</div>
<!--添加图层模态框-->
<div class="modal fade" id="addLayerBtn" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" style="background: transparent">
    <div class="modal-dialog" role="document" style="width: 30%">
        <div class="modal-content" style="background: transparent; border: 1px solid #444;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <ul class="nav nav-tabs tablist" role="tablist" >
                    <li role="presentation" class="active"><a href="#webServicePan" role="tab" data-toggle="tab">超图云服务</a></li>
                    <li role="presentation"><a  role="tab" href="#customServicePan" data-toggle="tab">自定义服务</a></li>
                    <li role="presentation"><a role="tab" href="#localFilePan" data-toggle="tab">本地KML</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="webServicePan">
                    <div class="modal-body">
                        <select  class="select">
                            <option value="public">公共服务</option>
                        </select>
                        <div class="row" id="webServiceLater" style="margin-top: 30px;height: 250px;overflow: auto">
                        </div>

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="customServicePan">
                    <div class="modal-body">
                        <select  class="select">
                            <option value="public">S3M图层</option>
                            <option value="public">影像图层</option>
                            <option value="public">SCT地形图层</option>
                        </select>
                        <span style="margin-left: 5px;">   <img src="/images/choose.png" alt="" class="modalCheck" style="display: none;">
                                <img src="/images/no-choose.png" alt="" class="modalUncheck" ></span>
                        <span style="color: white;margin-top: 5px;">STK在线地形</span>
                        <form class="form-horizontal" style="margin-top: 20px;">
                            <div class="form-group col-sm-12" >
                                <input type="text" class="form-control service"  placeholder="enter url" >
                            </div>
                            <div class="form-group col-sm-12">
                                <input type="text" class="form-control service"  placeholder="enter layer name">
                            </div>
                        </form>
                        <select  class="select data" style="display: none">
                            <option value="public">请选择数据源</option>
                        </select>
                        <select  class="select data" style="margin-left: 5px;display: none">
                            <option value="public">请选择数据源</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-serve " style="float:right;margin-right: 30px;">确定</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane"  id="localFilePan">
                    <div class="modal-body">
                        <form class="form-horizontal" style="margin-top: 20px;">
                            <div class="FilePan ">
                                <button>选择文件</button>
                                <span>未选择任何文件</span>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

 <div id="nodelist" style="height:300px;width:900px;position:absolute;right:100px;top:500px;">
        <em>Click on the map to get feature info</em>
  </div>

<!--列表属性弹出框-->
<div class="modal fade" id="attributeBtn" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" aria-labelledby="myModalLabel" style="background: transparent">
    <div class="modal-dialog" role="document" style="width: 32%">
        <div class="modal-content" style="background: transparent; border: 1px solid #444;">
            <div class="modal-header" style="border-bottom:none;padding:0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding-right:10px;padding-top: 7px;"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" >
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Sex</th>
                        <th>profession</th>
                        <th>profession</th>
                        <th>profession</th>
                        <th>native</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Jack</td>
                        <td>30</td>
                        <td>Male</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td>Bill</td>
                        <td>26</td>
                        <td>Male</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td>Tracy</td>
                        <td>22</td>
                        <td>Female</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td>Chris</td>
                        <td>36</td>
                        <td>Male</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td>Chris</td>
                        <td>36</td>
                        <td>Male</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td>Chris</td>
                        <td>36</td>
                        <td>Male</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td>Chris</td>
                        <td>36</td>
                        <td>Male</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                    <tr>
                        <td>Chris</td>
                        <td>36</td>
                        <td>Male</td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>