<div id="wrapper-img"  style="width:500px; height: 500px;"><!-- 最外层部分 -->
	<div class="equipment-header">
        <div class="text-right" style="margin-right: 3rem">
            <button class="btn" onclick="addImg()" style="background: #318375;color: white;border-radius: 3px;">新增</button>
            <button id="delBtn" class="btn" onclick="delImg()" style="background: #318375;color: white;border-radius: 3px;margin-left: 10px;">删除</button>
        </div>
    </div>
    <div id="banner">
        <ul class="imgUl"></ul>
        <!-- 
        <img src="/images/prev.png" width="20px" height="40px" id="prev">
        <img src="/images/next.png" width="20px" height="40px" id="next">
        -->
        <div class="bg"></div> <!-- 图片底部背景层部分-->
        <ul class="infoUl"></ul>
    </div>
    <div class="tip">
	    <ul class="indexUl"></ul>
    </div>
    <div class="small-img">
	    <ul class="smallUl"></ul>
    </div>
</div>





