<div style="width: 530px;">
	<form class="form-horizontal">
		<div class="form-group" style="margin:6px 0">
			<label class="col-sm-2 control-label">经度:</label>
		    <div class="col-sm-4" >
		        <input type="text" class="form-control" name="longitude" disabled="disabled"/>
		    </div>
			<label class="col-sm-2 control-label" style="margin-left: -10px;">纬度:</label>
		    <div class="col-sm-4" >
		        <input type="text" class="form-control" name="latitude" disabled="disabled"/>
		    </div>
		</div>
		<div class="form-group" style="margin:6px 0">
			<label class="col-sm-2 control-label">名称:</label>
		    <div class="col-sm-4" >
		        <input type="text" class="form-control" id="NAME" name="NAME" disabled="disabled"/>
		    </div>
			<label class="col-sm-2 control-label" style="margin-left: -10px;">局站类型:</label>
		    <div class="col-sm-4" >
		        <input type="text" class="form-control" id="TYPE" name="TYPE" disabled="disabled"/>
		    </div>
		</div>
		<div class="form-group" style="margin:6px 0">
			<label class="col-sm-2 control-label">投运日期:</label>
		    <div class="col-sm-4" >
		        <input type="text" class="form-control" id="OPERATIONDATE" name="OPERATIONDATE" disabled="disabled"/>
		    </div>
			<label class="col-sm-2 control-label" style="margin-left: -10px;">电压等级:</label>
		    <div class="col-sm-4" >
		        <input type="text" class="form-control" id="VOLTAGE" name="VOLTAGE" disabled="disabled"/>
		    </div>
		</div>
		<div class="form-group" style="margin:6px 0">
		    <label class="col-sm-2 control-label">行政区划:</label>
		    <div class="col-sm-4" >
		        <input type="text" class="form-control" id="DISTRICT" name="DISTRICT" disabled="disabled"/>
		    </div>
			<label class="col-sm-2 control-label" style="margin-left: -10px;">资产单位:</label>
		    <div class="col-sm-4" >
		        <input type="text" class="form-control" id="ASSETUNIT" name="ASSETUNIT" disabled="disabled"/>
		    </div>
		</div>
		<div class="form-group" style="margin:6px 0">
		    <label class="col-sm-2 control-label">维护单位:</label>
		    <div class="col-sm-4" >
		        <input type="text" class="form-control" id="MAINTENANCEUNIT" name="MAINTENANCEUNIT" disabled="disabled"/>
		    </div>
		</div>
	</form>
</div>


 
 


 