<script>
var blurData1 = getBlurDate(['SD_STATION']);
$('.jz').typeahead({
    source: blurData1,
    display: 'Name',
    val: 'ID',            
    itemSelected: function (item, val, text) {
    	stationFtn(val);
    }
});
var blurData2 = getBlurDate(['SD_OPTICALCABLESECTION']);
$('.gl').typeahead({
    source: blurData2,
    display: 'Name',
    val: 'ID',            
    itemSelected: function (item, val, text) {
        $("#C_OCSECTIONID").val(val);
    }
});
</script>
<div style="min-width: 600px; max-height: 500px; overflow-y:auto; overflow-x:hidden;">
	<form class="form-horizontal" id="distributioninfo_form">
		<input type="hidden" name="C_ID" id="C_ID"/>
	
		<div class="form-group" style="margin:12px 0">
			<label for="C_STATIONID" class="col-sm-2 control-label" >所属局站:</label>
            <div class="col-sm-3" style="padding-right:0">
                <input type="text" class="form-control jz" autocomplete="off" />
            </div>
            <div class="col-sm-1" style="padding:0">
                <button class="selectButton" type="button" title="在地图上选择局站" onclick="selObjByMap('jz', 'stationFtn');">
                <img src="/images/img/2.png" alt=""></button>
            </div>
            <label for="C_EQUIPMENTCODE" class="col-sm-2 control-label" style="margin-left: -10px;">设备名称:</label>
			<div class="col-sm-4">
				<select id="C_EQUIPMENTCODE" name="C_EQUIPMENTCODE" onchange="chgEquipment(this.options[this.options.selectedIndex])" class="select-basic" style="width:100%">
					<option value="">请选择</option>
				</select>
			</div>
		</div>
		
		<div class="form-group" style="margin:12px 0">
			<label for="C_OCSECTIONID" class="col-sm-2 control-label">所属光缆段编号:</label>
			<div class="col-sm-9" style="padding-right:0">
                <input type="text" class="form-control gl" autocomplete="off" />
                <input id="C_OCSECTIONID" name="C_OCSECTIONID" type="hidden"/>
            </div>
            <div class="col-sm-1" style="padding:0">
                <button class="selectButton" type="button" title="在地图上选择光缆段" onclick="selObjByMap('gl', 'glFtn');">
                <img src="/images/img/2.png" alt=""></button>
            </div>
		</div>
		
		<div class="form-group" style="margin:12px 0">
			<label for="C_NAME" class="col-sm-2 control-label">名称:</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="C_NAME" id="C_NAME" />
			</div>
			<label for="C_DISKID" class="col-sm-2 control-label" style="margin-left: -10px;">盘号:</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" name="C_DISKID" id="C_DISKID" readonly/>
			</div>
		</div>
		
		<div class="terminalNub">
		  	<div class="title">端子号1</div>
		    <div class="form-group" style="margin:12px 0">
				<label for="C_FF1" class="col-sm-2 control-label">熔纤端:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="C_FF1" id="C_FF1" />
					</div>
				<label for="C_FF1STATUS" class="col-sm-2 control-label" style="margin-left: -10px;">熔纤端使用状态:</label>
				<div class="col-sm-4">
					<select id="C_FF1STATUS" name="C_FF1STATUS" class="select-basic" style="width:100%">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin:12px 0">
				<label class="col-sm-2 control-label">跳纤端:</label>
				<div data-mark="C_JF1" class="tq-div col-sm-9">
					<select class="select-basic col-sm-7 e-sel">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
	  	</div>
	  	
	  	<div class="terminalNub">
		  	<div class="title">端子号2</div>
		  	<div class="form-group" style="margin:12px 0">
				<label for="C_FF2" class="col-sm-2 control-label">熔纤端:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="C_FF2" id="C_FF2" />
				</div>
				<label for="C_FF2STATUS" class="col-sm-2 control-label" style="margin-left: -10px;">熔纤端使用状态:</label>
				<div class="col-sm-4">
					<select id="C_FF2STATUS" name="C_FF2STATUS" class="select-basic" style="width:100%">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin:6px 0">
				<label class="col-sm-2 control-label">跳纤端:</label>
				<div data-mark="C_JF2" class="tq-div col-sm-9">
					<select class="select-basic col-sm-7 e-sel">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
	  	</div>
	  	
		<div class="terminalNub">
		  	<div class="title">端子号3</div>
		  	<div class="form-group" style="margin:12px 0">
				<label for="C_FF3" class="col-sm-2 control-label">熔纤端:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="C_FF3" id="C_FF3" />
				</div>
				<label for="C_FF3STATUS" class="col-sm-2 control-label" style="margin-left: -10px;">熔纤端使用状态:</label>
				<div class="col-sm-4">
					<select id="C_FF3STATUS" name="C_FF3STATUS" class="select-basic" style="width:100%">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin:12px 0">
				<label class="col-sm-2 control-label">跳纤端:</label>
				<div data-mark="C_JF3" class="tq-div col-sm-9">
					<select class="select-basic col-sm-7 e-sel">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
	  	</div>

		<div class="terminalNub">
		  	<div class="title">端子号4</div>
		  	<div class="form-group" style="margin:12px 0">
				<label for="C_FF4" class="col-sm-2 control-label">熔纤端:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="C_FF4" id="C_FF4" />
				</div>
				<label for="C_FF4STATUS" class="col-sm-2 control-label" style="margin-left: -10px;">熔纤端使用状态:</label>
				<div class="col-sm-4">
					<select id="C_FF4STATUS" name="C_FF4STATUS" class="select-basic" style="width:100%">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin:12px 0">
				<label class="col-sm-2 control-label">跳纤端:</label>
				<div data-mark="C_JF4" class="tq-div col-sm-9">
					<select class="select-basic col-sm-7 e-sel">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
	  	</div>
		
		<div class="terminalNub">
		  	<div class="title">端子号5</div>
		  	<div class="form-group" style="margin:12px 0">
				<label for="C_FF5" class="col-sm-2 control-label">熔纤端:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="C_FF5" id="C_FF5" />
				</div>
				<label for="C_FF5STATUS" class="col-sm-2 control-label" style="margin-left: -10px;">熔纤端使用状态:</label>
				<div class="col-sm-4">
					<select id="C_FF5STATUS" name="C_FF5STATUS" class="select-basic" style="width:100%">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin:12px 0">
				<label class="col-sm-2 control-label">跳纤端:</label>
				<div data-mark="C_JF5" class="tq-div col-sm-9">
					<select class="select-basic col-sm-7 e-sel">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
	  	</div>
		
		<div class="terminalNub">
		  	<div class="title">端子号6</div>
		  	<div class="form-group" style="margin:12px 0">
				<label for="C_FF6" class="col-sm-2 control-label">熔纤端:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="C_FF6" id="C_FF6" />
				</div>
				<label for="C_FF6STATUS" class="col-sm-2 control-label" style="margin-left: -10px;">熔纤端使用状态:</label>
				<div class="col-sm-4">
					<select id="C_FF6STATUS" name="C_FF6STATUS" class="select-basic" style="width:100%">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin:12px 0">
				<label class="col-sm-2 control-label">跳纤端:</label>
				<div data-mark="C_JF6" class="tq-div col-sm-9">
					<select class="select-basic col-sm-7 e-sel">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
	  	</div>
		
		<div class="terminalNub">
		  	<div class="title">端子号7</div>
		  	<div class="form-group" style="margin:12px 0">
				<label for="C_FF7" class="col-sm-2 control-label">熔纤端:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="C_FF7" id="C_FF7" />
				</div>
				<label for="C_FF7STATUS" class="col-sm-2 control-label" style="margin-left: -10px;">熔纤端使用状态:</label>
				<div class="col-sm-4">
					<select id="C_FF7STATUS" name="C_FF7STATUS" class="select-basic" style="width:100%">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin:12px 0">
				<label class="col-sm-2 control-label">跳纤端:</label>
				<div data-mark="C_JF7" class="tq-div col-sm-9">
					<select class="select-basic col-sm-7 e-sel">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
	  	</div>
		
		<div class="terminalNub">
		  	<div class="title">端子号8</div>
		  	<div class="form-group" style="margin:12px 0">
				<label for="C_FF8" class="col-sm-2 control-label">熔纤端:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="C_FF8" id="C_FF8" />
				</div>
				<label for="C_FF8STATUS" class="col-sm-2 control-label" style="margin-left: -10px;">熔纤端使用状态:</label>
				<div class="col-sm-4">
					<select id="C_FF8STATUS" name="C_FF8STATUS" class="select-basic" style="width:100%">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin:12px 0">
				<label class="col-sm-2 control-label">跳纤端:</label>
				<div data-mark="C_JF8" class="tq-div col-sm-9">
					<select class="select-basic col-sm-7 e-sel">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
	  	</div>
		
		<div class="terminalNub">
		  	<div class="title">端子号9</div>
		  	<div class="form-group" style="margin:12px 0">
				<label for="C_FF9" class="col-sm-2 control-label">熔纤端:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="C_FF9" id="C_FF9" />
				</div>
				<label for="C_FF9STATUS" class="col-sm-2 control-label" style="margin-left: -10px;">熔纤端使用状态:</label>
				<div class="col-sm-4">
					<select id="C_FF9STATUS" name="C_FF9STATUS" class="select-basic" style="width:100%">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin:12px 0">
				<label class="col-sm-2 control-label">跳纤端:</label>
				<div data-mark="C_JF9" class="tq-div col-sm-9">
					<select class="select-basic col-sm-7 e-sel">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
	  	</div>
		
		<div class="terminalNub">
		  	<div class="title">端子号10</div>
		  	<div class="form-group" style="margin:12px 0">
				<label for="C_FF10" class="col-sm-2 control-label">熔纤端:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="C_FF10" id="C_FF10" />
				</div>
				<label for="C_FF10STATUS" class="col-sm-2 control-label" style="margin-left: -10px;">熔纤端使用状态:</label>
				<div class="col-sm-4">
					<select id="C_FF10STATUS" name="C_FF10STATUS" class="select-basic" style="width:100%">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin:12px 0">
				<label class="col-sm-2 control-label">跳纤端:</label>
				<div data-mark="C_JF10" class="tq-div col-sm-9">
					<select class="select-basic col-sm-7 e-sel">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
	  	</div>
		
		<div class="terminalNub">
		  	<div class="title">端子号11</div>
		  	<div class="form-group" style="margin:12px 0">
				<label for="C_FF11" class="col-sm-2 control-label">熔纤端:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="C_FF11" id="C_FF11" />
				</div>
				<label for="C_FF11STATUS" class="col-sm-2 control-label" style="margin-left: -10px;">熔纤端使用状态:</label>
				<div class="col-sm-4">
					<select id="C_FF11STATUS" name="C_FF11STATUS" class="select-basic" style="width:100%">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin:12px 0">
				<label class="col-sm-2 control-label">跳纤端:</label>
				<div data-mark="C_JF11" class="tq-div col-sm-9">
					<select class="select-basic col-sm-7 e-sel">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
	  	</div>
		
		<div class="terminalNub">
		  	<div class="title">端子号12</div>
		  	<div class="form-group" style="margin:12px 0">
				<label for="C_FF12" class="col-sm-2 control-label">熔纤端:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="C_FF12" id="C_FF12" />
				</div>
				<label for="C_FF12STATUS" class="col-sm-2 control-label" style="margin-left: -10px;">熔纤端使用状态:</label>
				<div class="col-sm-4">
					<select id="C_FF12STATUS" name="C_FF12STATUS" class="select-basic" style="width:100%">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
			<div class="form-group" style="margin:12px 0">
				<label class="col-sm-2 control-label">跳纤端:</label>
				<div data-mark="C_JF12" class="tq-div col-sm-9">
					<select class="select-basic col-sm-7 e-sel">
						<option value="">请选择</option>
					</select>
				</div>
			</div>
	  	</div>
		<div class="form-group" style="margin:12px 0">
			<label for="C_REMARK" class="col-sm-2 control-label">备注:</label>
			<div class="col-sm-9">
				<textarea class="form-control" rows="2" name="C_REMARK" id="C_REMARK"></textarea>
			</div>
		</div>
		<div class="form-group" style="margin:12px 0">
			<div class="text-center">
				<button class="btn rolebtn" type="button" style="background: #308374; color: white" onclick="submitDistributionInfo()">保存</button>
				<button class="btn rolebtn" type="button" style="background: #308374; color: white" onclick="closeDistributionInfo()">取消</button>
			</div>
		</div>
	</form>
</div>



