<div style="min-width: 1000px;min-height: 580px;">
    <div class="equipment-header" id='distributioninfoBody'>
        <button class="btn equipment-btn add" type="button" onclick="addDistributionInfo()">添加</button>
        <form class="form-inline" style="float: right;margin-right: 2rem">
            <div class="form-group">
                <label for="INFO_NAME">配线信息名称:</label>
                <input type="text" class="form-control" name="INFO_NAME" id="INFO_NAME"/>            
            </div>
            <button  class="btn equipment-btn search" type="button" onclick="searchDistributionInfo()">查询</button>
        </form>
    </div>
    <table id="distributioninfoTable"></table>
</div>
