<div style="min-width: 550px;min-height: 430px;">
    <div class="equipment-header">
        <button class="btn equipment-btn add" type="button" onclick="addCableaffiliatedInfo()">添加</button>
        <form class="form-inline" style="float: right;margin-right: 2rem">
            <div class="form-group">
                <label for="exampleInputName2">光缆段编号 :</label>
                <input type="text" class="form-control"  name="OPSECTIONID" id="OPSECTIONID"/>
            </div>
            <button  class="btn equipment-btn search" type="button" onclick="searchCableaffiliatedInfo()">查询</button>
        </form>
    </div>
    <table id="cableaffiliatedInfoTable"></table>
</div>
