<div class="table-responsive" style="border: 1px solid #b9b7b7;width:91%">
    <table class="easyui-datagrid" style="background: white;">
       <caption style="height: 40px;background: #e4e3e3;border-bottom:1px solid #b9b7b7 ">
           <span style="margin-left: 10px;">台账管理</span>
        <div class="ledger" >
            <button data-toggle="modal" data-target="#add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加</button>
            <button ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 修改</button>
            <button ><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 删除</button>
        </div>
       </caption>
        <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th >序号</th>
            <th >模块名称</th>
            <th >模块图标</th>
            <th >排序号</th>
            <th >主页面url</th>
            <th >应用类型</th>
            <th >外部链接</th>
            <th >通用模块</th>
            <th >状态</th>
            <th >备注</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>系统组织</td>
                <td>url</td>
                <td>3</td>
                <td>url</td>
                <td>基础模块</td>
                <td>是</td>
                <td>是</td>
                <td>启用</td>
                <td>你好</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>系统组织</td>
                <td>url</td>
                <td>3</td>
                <td>url</td>
                <td>基础模块</td>
                <td>是</td>
                <td>是</td>
                <td>启用</td>
                <td>你好</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>系统组织</td>
                <td>url</td>
                <td>3</td>
                <td>url</td>
                <td>基础模块</td>
                <td>是</td>
                <td>是</td>
                <td>启用</td>
                <td>你好</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>系统组织</td>
                <td>url</td>
                <td>3</td>
                <td>url</td>
                <td>基础模块</td>
                <td>是</td>
                <td>是</td>
                <td>启用</td>
                <td>你好</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>系统组织</td>
                <td>url</td>
                <td>3</td>
                <td>url</td>
                <td>基础模块</td>
                <td>是</td>
                <td>是</td>
                <td>启用</td>
                <td>你好</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>系统组织</td>
                <td>url</td>
                <td>3</td>
                <td>url</td>
                <td>基础模块</td>
                <td>是</td>
                <td>是</td>
                <td>启用</td>
                <td>你好</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>系统组织</td>
                <td>url</td>
                <td>3</td>
                <td>url</td>
                <td>基础模块</td>
                <td>是</td>
                <td>是</td>
                <td>启用</td>
                <td>你好</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>系统组织</td>
                <td>url</td>
                <td>3</td>
                <td>url</td>
                <td>基础模块</td>
                <td>是</td>
                <td>是</td>
                <td>启用</td>
                <td>你好</td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>1</td>
                <td>系统组织</td>
                <td>url</td>
                <td>3</td>
                <td>url</td>
                <td>基础模块</td>
                <td>是</td>
                <td>是</td>
                <td>启用</td>
                <td>你好</td>
            </tr>
        </tbody>
    </table>
    <div class="modal modal-dialog modal-sm " id="add" tabindex="-1" style="width: 35%;margin-top: -25%;">
        <div class="modal-content" style="padding-top: 0px">
            <div class="modal-header" style="background: #005a52;padding:0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;line-height:normal"><span aria-hidden="true">&times;</span></button>
                <h4 style="padding-left: 10px;color: white">模块信息管理</h4>
            </div>
            <div class="modal-body" style="background: white;">
                <form action="" class="form-horizontal" role="form" >
                    <div class="form-group ">
                        <lable for="firstname" class="col-sm-2 control-label">序号</lable>
                        <div class="col-sm-10">
                            <input type="email"placeholder=""class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group ">
                        <lable for="firstname" class="col-sm-2 control-label">编号</lable>
                        <div class="col-sm-10">
                            <input type="email"placeholder=""class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group ">
                        <lable for="firstname" class="col-sm-2 control-label">机构名称 <span style="color: red;font-size:20px;margin-left:3px;">*</span></lable>
                        <div class="col-sm-10">
                            <input type="email"placeholder="市场营销部"class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group ">
                        <lable for="firstname" class="col-sm-2 control-label">下级机构<span style="color: red;font-size:20px;margin-left:3px;">*</span></lable>
                        <div class="col-sm-10">
                            <input type="email"placeholder="下级机构"class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group ">
                        <lable for="firstname" class="col-sm-2 control-label">排序号</lable>
                        <div class="col-sm-10">
                            <input type="email"placeholder=""class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group ">
                        <lable for="firstname" class="col-sm-2 control-label">机构分类</lable>
                        <div class="col-sm-10">
                            <input type="email"placeholder=""class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group ">
                        <lable for="firstname" class="col-sm-2 control-label">机构地址</lable>
                        <div class="col-sm-10">
                            <input type="email"placeholder="机构地址"class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group ">
                        <lable for="firstname" class="col-sm-2 control-label">外线电话</lable>
                        <div class="col-sm-10">
                            <input type="email"placeholder="外线电话"class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group ">
                        <lable for="firstname" class="col-sm-2 control-label">内线电话</lable>
                        <div class="col-sm-10">
                            <input type="email"placeholder="内线电话"class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group ">
                        <lable for="firstname" class="col-sm-2 control-label">备注</lable>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn" style="color:white;background: #077a77;">保存</button>
                        <button class="btn"  style="color:white;background: #077a77;margin-left: 20px;">关闭</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
