<div style="min-width: 500px;min-height: 400px;">
    <div class="equipment-header text-center">

        <button class="btn rolebtn" style="background: #318375;color: white;border-radius: 3px;" onclick="queryData()">光缆故障分析</button>
        <button class="btn rolebtn" style="background: #318375;color: white;border-radius: 3px;margin-left: 10px;" onclick="removeData()">清理</button>
    </div>
    <div class="analysisResult">
        <p style="height:30px;background:#318375;margin-top: 10px;line-height:30px;text-align: center;color: white;font-size: 14px; ">但路径光缆</p>
        <table id="fiberpath-tab" ></table>
    </div>
</div>