<div style="min-width: 750px;min-height: 600px;">
    <div class="equipment-header opticGraph" style="position: relative;">
	    <div class="light-head-l">
	        <button class="btn equipment-btn gj-btn" id="addOptic">新增熔纤盘</button>
	        <button class="btn equipment-btn gj-btn" id="delectOptic">删除熔纤盘</button>
	        <button class="btn equipment-btn gj-btn" onclick="upRow()">上移</button>
	        <button class="btn equipment-btn gj-btn" onclick="downRow()">下移</button>
        </div>
        <div class="light-head-r">
            <div class="light-statu fc"><span class="commentuse head-fc"></span><p>封存</p></div>
            <div class="light-statu k"><span class="commentuse head-k"></span><p>空</p></div>
            <div class="light-statu gz"><span class="commentuse head-gz" ></span><p>故障芯</p></div>
            <div class="light-statu by"><span class="commentuse head-by"></span><p>备用</p></div>
            <div class="light-statu zy"><span class="commentuse head-zy"></span><p>在用</p></div>
        </div>
    </div>
    <div>
	    <table id="Fiber-optic"></table>
    </div>
</div>

