<div style="min-width: 520px;min-height: 430px;">
    <div class="equipment-header">
        <button class="btn equipment-btn add" type="button" onclick="addLightsplitterinfo()">添加</button>
        <form class="form-inline" style="float: right;margin-right: 2rem">
            <div class="form-group">
                <label for="exampleInputName2">设备编号 :</label>
                <input type="text" class="form-control"  name="EQUIPMENTID" id="EQUIPMENTID"/>
            </div>
            <button  class="btn equipment-btn search" type="button" onclick="searchLightsplitterinfo()">查询</button>
        </form>
    </div>
    <table id="lightsplitterinfoTable"></table>
</div>
