

<script type="text/javascript">
initSelectpicker('光缆类型',"TYPE");
initSelectpicker('电压等级','VOLTAGECLASS');
initSelectpicker('敷设方式','LAYWAY');
initSelectpicker('资产单位','ASSETUNIT'); 
initSelectpicker('维护单位','MAINTENANCEUNIT');

function initSelectpicker(val,id){
	$.ajax({
		url:"/T_ENUMERATE/search.action",
    	data:{"search.C_TYPE*eq":val,"sort.C_SORTID":'ASC'},//设置请求参数 
    	type:"post",//请求方法 
        dataType: "Json",
        async:false,
        success: function (data) {
            if (data!="" ||data!=null) {               
                for(var i=0;i<data.length;i++) {
                	$('#'+id+'.selectpicker').append("<option value=" + data[i].C_VALUE + ">" + data[i].C_NAME + "</option>");
                }
                $("#"+id).selectpicker('refresh');
               
            }
        }
    })
}
function displayResult(item, val, text) {
}
blurData = getBlurDate(['SD_STATION']);
$('#STARTID').typeahead({
    source: blurData,
    display: 'Name',
    val: 'ID'
    /* itemSelected: displayResult */
    /* itemSelected: function(item, val, text) {
    	return $('#STARTID2').val(val);
    } */
});
 
$('#ENDID').typeahead({
    source: blurData,
    display: 'Name',
    val: 'ID'
    
});
 

</script>
<div class="modal-body" style="padding: 5px;width:500px;">
                    <form class="form-horizontal" style="padding: 10px" id="sd_opticalcablesection_form">
                        <div class="form-group">
                            <label for="NAME" class="col-sm-2 control-label" >名称:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  name="NAME" id="NAME"/>
                            </div>
                            <label for="TYPE" class="col-sm-2 control-label" style="margin-left: -10px;">光缆类型:</label>
                            <div class="col-sm-4" >
                                <select id="TYPE" name="TYPE" class="selectpicker show-tick form-control">
                                 <option value ="">请选择</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="form-group">
				            <label for="LAYWAY" class="col-sm-2 control-label" >敷设方式:</label>
                            <div class="col-sm-4" >
                                <select id="LAYWAY" name="LAYWAY" class="selectpicker show-tick form-control">
                                 <option value ="">请选择</option>
                                </select>
                            </div>
                            <label for="CORENUM" class="col-sm-2 control-label" style="margin-left: -10px;">芯数:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  name="CORENUM" id="CORENUM"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="VOLTAGECLASS" class="col-sm-2 control-label" >线路电压等级:</label>
                            <div class="col-sm-4" >
                                <select id="VOLTAGECLASS" name="VOLTAGECLASS" class="selectpicker show-tick form-control">
                                 <option value ="">请选择</option>
                                </select>
                            </div>
                            <label for="LENGTH" class="col-sm-2 control-label" style="margin-left: -10px;">长度:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  name="LENGTH" id="LENGTH"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="STARTID" class="col-sm-2 control-label" >起点:</label>
                            <div class="col-sm-3" style="padding-right:0px">
                                <input type="text" class="form-control"  id="STARTID" name="STARTID" autocomplete="off" />
                            </div>
                            <div class="col-sm-1" style="padding:0px">
                                <button class="text-but" type="button" title="选取站点" onclick="selectStartIDOrEndID('STARTID')">选</button>
                            </div>
                            
                            <label for="ENDID" class="col-sm-2 control-label" style="margin-left: -10px;">终点:</label>
                            <div class="col-sm-3" style="padding-right:0px">
                                <input  id="ENDID" name="ENDID" type="text" class="form-control" autocomplete="off" />
                            </div>
                            
                            <div class="col-sm-1" style="padding:0px">
                                <button class="text-but" type="button" title="选取站点" onclick="selectStartIDOrEndID('ENDID')">选</button>
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="ASSETUNIT" class="col-sm-2 control-label">资产单位:</label>
                            <div class="col-sm-4 " >
                                <select id="ASSETUNIT"  name="ASSETUNIT" class="selectpicker form-control">
                                 <option value ="">请选择</option>
                                </select>
                            </div>
                            <label for="MAINTENANCEUNIT" class="col-sm-2 control-label" style="margin-left: -10px;">维护单位:</label>
                            <div class="col-sm-4" >
                                <select id="MAINTENANCEUNIT" name="MAINTENANCEUNIT" class="selectpicker show-tick form-control" style="padding: 6px 0px;">
                                 <option value ="">请选择</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="text-center">
                            <button class="btn" type="button" style="background:#308374;color: white" onclick="saveFeature()">保存</button>
                            <button class="btn " type="button" style="background:#308374;color: white" onclick="unSaveFeature()">取消</button>
                        </div>
       </form>
 </div>
 