<div style="min-width: 890px;min-height: 430px;">
    <div class="equipment-header" id="fcrelationshipBody">
        <button class="btn equipment-btn add" type="button" onclick="addFcrelationship()">添加</button>
        <form class="form-inline" style="float: right;margin-right: 2rem">
            <div class="form-group">
                <label for="CODE">编号 :</label>
                <input type="text" class="form-control"  name="CODE" id="CODE"/>
            </div>
            <button  class="btn equipment-btn search" type="button" onclick="searchFcrelationshipInfo()">查询</button>
        </form>
    </div>
    <table id="fcrelationshipTable"></table>
</div>
