 

<div style="width: 530px;">
    <form class="form-horizontal" style="margin-top: 20px;" id="fcrelationship_form">
        
        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label" >编号:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  name="C_CODE" id="C_CODE"/>
                                <input type="hidden" name="C_ID" id="C_ID"/>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: -10px;">开始段光缆段编号:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  name="C_STARTOCSECTIONID" id="C_STARTOCSECTIONID"/>
                            </div>
                            
                        </div>
                        <div class="form-group">
                           <label for="inputEmail3" class="col-sm-2 control-label" >开始段纤芯序号:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  name="C_STARTSERIALNUMBER" id="C_STARTSERIALNUMBER"/>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: -10px;">承载光路类型:</label>
                            <div class="col-sm-4" >
                                <select id="C_BEARERLIGHTPATHTYPE" name="C_BEARERLIGHTPATHTYPE" class="selectpicker show-tick form-control">
                                 <option value ="">请选择</option>
                                </select>
                            </div>
				            
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label" >结束段光缆段编号:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  name="C_ENDOCSECTIONID" id="C_ENDOCSECTIONID"/>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: -10px;">结束段纤芯序号:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  name="C_ENDSERIALNUMBER" id="C_ENDSERIALNUMBER"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label" >承载内容:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  name="C_BEARERCONTENT" id="C_BEARERCONTENT"/>
                            </div>
                        </div>
        <div class="form-group">
            <div class="text-center">
                <button class="btn" type="button" style="background:#308374;color: white" onclick="submitFcrelationshipInfo()">保存</button>
                <button class="btn " type="button" style="background:#308374;color: white" onclick="closeFcrelationship()">取消</button>
            </div>
        </div>
    </form>
</div>


