


<div class="modal-content table-content" style="background: transparent; border: 1px solid #444;min-width: 1250px;min-height: 590px;">
            <div class="modal-body check-text" >
            <span id="sd_stationOptions">
                <div class="check">
                  <button type="button"  class="btn btn-primary rolebtn" onclick="addStationFeature()" style="margin:0px 600px 0px 20px;" >添加</button>
                                                                 过滤字段：<select  id="sd_station_filterField" name="filterField2" onchange="stationFilterField(this.options[this.options.selectedIndex].text)"style="width:100px;">
                           </select>
                           <span id="sd_station_filterFieldSelect" style="display: none"><select  id="sd_station_filterFieldSelectValue"  style="width:100px;">
                           </select></span>
                           <span id="sd_station_filterFieldInput" style="display: none"><input type="text" id="sd_station_filterFieldInputValue" style="height: 30px;"/></span>
                       <button type="button"  class="btn btn-primary rolebtn" onclick="queryStationFeature()" style="float: right;margin-right: 20px;margin-top: 6px;" >查询</button>
               </div>
                
            </span>
            
              
      <table id="sd_stationTable" style="overflow:auto;"></table> 

    </div>
</div>