<script type="text/javascript">
$("#checkDate").datetimepicker({
	  language: 'zh-CN',//显示中文
	  format: 'yyyy-mm-dd',//显示格式
	  minView: "month",//设置只显示到月份
	  initialDate: new Date(),//初始化当前日期
	  autoclose: true,//选中自动关闭
	  todayBtn: true//显示今日按钮
});
/* $('#TYPE').selectpicker({
	'noneSelectedText':'请选择'
});
$('#C_VARNTYPE').selectpicker({
	'noneSelectedText':'请选择'
}); */
initSelectpicker('局站类型',"TYPE");
initSelectpicker('电压等级','VOLTAGE');
initSelectpicker('行政区划','DISTRICT');

function initSelectpicker(val,id){
	$.ajax({
		url:"/T_ENUMERATE/search.action",
    	data:{"search.C_TYPE*eq":val,"sort.C_SORTID":'ASC'},//设置请求参数 
    	type:"post",//请求方法 
        dataType: "Json",
        async:false,
        success: function (data) {
            if (data!="" ||data!=null) {               
                for(var i=0;i<data.length;i++) {
                	$('#'+id+'.selectpicker').append("<option value=" + data[i].C_VALUE + ">" + data[i].C_NAME + "</option>");
                }
                $("#"+id).selectpicker('refresh');
               
            }
        }
    })
}
</script>
<div class="modal-body" style="padding: 5px;width:500px;">
                <div style="background: #ebedec;">
                    <form class="form-horizontal" style="padding: 10px" id="sd_station_form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label" >名称:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  name="NAME" id="NAME"/>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: -10px;">局站类型:</label>
                            <div class="col-sm-4" >
                                <select id="TYPE" name="TYPE" class="selectpicker show-tick form-control">
                                 <option value ="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">投运日期:</label>
                            <div class="col-sm-4">
                            <div class='input-group date' id='checkDate'>
					           <input type='text' class="form-control" name="OPERATIONDATE" id="OPERATIONDATE"/> <span
						       class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
				            </div>
				            </div>
				            <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: -10px;">电压等级:</label>
                            <div class="col-sm-4" >
                                <select id="VOLTAGE" name="VOLTAGE" class="selectpicker show-tick form-control">
                                 <option value ="">请选择</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label" >行政区划:</label>
                            <div class="col-sm-4" >
                                <select id="DISTRICT" name="DISTRICT" class="selectpicker show-tick form-control">
                                 <option value ="">请选择</option>
                                </select>
                            </div>
                            <label for="inputEmail3" class="col-sm-2 control-label" style="margin-left: -10px;">资产单位:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  name="ASSETUNIT" id="ASSETUNIT"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">维护单位:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control"  name="MAINTENANCEUNIT" id="MAINTENANCEUNIT"/>
                            </div>
                            
                        </div>
                        <div class="text-center">
                            <button class="text-but" type="button"  onclick="saveFeature()">保存</button>
                            <button class="text-but"  type="button" onclick="unSaveFeature()">关闭</button>
                        </div>
       </form>
    </div>
 </div>
 